:root {
  --lightgreen: #95d049;
  --lightgreen-hover-light: #a5d764;
  --lightgreen-hover-dark: #77a671;
  --textgray: #27282a;
}
a {
  color: var(--lightgreen);
}
a:hover {
  color: var(--lightgreen-hover-dark);
}
a:active {
  color: var(--lightgreen-hover-light);
}
.input-group-text {
  background-color: var(--lightgreen);
  color: var(--textgray);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}
.star {
  color: gold;
}
.topnavbar {
  border-bottom: 3px solid rgb(0, 0, 0);
}
#navLogo {
  height: 48px;
  margin-top: -1px;
}
#homeLogo {
  height: 250px;
}
#copyright {
  color: rgba(0, 0, 0, 0.5);
}
.navbar {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 0.5px solid var(--lightgreen);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.btn-outline-success {
  border-color: var(--lightgreen);
  color: var(--lightgreen-hover-dark);
}
.btn-outline-success:hover {
  background-color: var(--lightgreen);
  border-color: var(--lightgreen);
  color: var(--textgray);
}
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success:checked,
.btn-check:checked,
.btn-check:checked + .btn-outline-success {
  background-color: var(--lightgreen);
  border-color: var(--lightgreen);
  color: var(--textgray);
}

.btn-error {
  background-color: rgb(195, 65, 65);
  border-color: rgb(195, 65, 65);
  color: var(--textgray);
  text-decoration: line-through;
}
.error{
  color: red;
}
.btn-primary {
  background-color: var(--lightgreen);
  border-color: var(--lightgreen);
  color: var(--textgray);
}
.btn-primary:hover {
  background-color: var(--lightgreen-hover-light);
  border-color: var(--lightgreen-hover-light);
  color: var(--textgray);
}
.btn-primary:focus {
  background-color: var(--lightgreen-hover-light);
  border-color: var(--lightgreen-hover-light);
  color: var(--textgray);
  outline: none;
}
.title-href {
  color: var(--textgray);
  text-decoration: none;
}
.badge {
  background-color: var(--lightgreen);
}
.login-btn {
  color: var(--lightgreen);
  text-decoration: none;
}
.login-btn:hover {
  color: var(--lightgreen-hover-dark);
  text-decoration: underline;
}
.login_btn {
  width: 100%;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.form-check-input:checked {
  background-color: var(--lightgreen);
  outline: 1px solid var(--lightgreen);
}
.form-check-input:checked:focus {
  box-shadow: 0 0 0 1px var(--lightgreen-hover-light),
    0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}
.form-check-input:focus {
  box-shadow: 0 0 0 1px var(--lightgreen-hover-dark),
    0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.form-check-input:active {
  background-color: var(--lightgreen);
}

.basic-color {
  color: var(--textgray);
}
#footerhr {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border: 0;
  border-top: 1px solid var(--textgray);
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}
#footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
/* begin source: https://github.com/startbootstrap/startbootstrap-freelancer */
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: var(--textgray);
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: var(--textgray);
}
.divider-custom.divider-light .divider-custom-icon {
  color: var(--textgray);
}
.reviewrow {
  text-align: center;
}
.navbar-brand {
  cursor: pointer;
}
/* end source: https://github.com/startbootstrap/startbootstrap-freelancer */
.review {
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
  float: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.photo {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  background: #ccc;
  margin: 20px;
}
.btn-check:disabled + .btn,
.btn-check[disabled] + .btn {
  text-decoration: line-through;
}
.row h1,
.row p {
  font-style: italic;
  text-align: left;
}

.row h1 {
  font-size: 1.4em;
}

.row p {
  font-size: 1em;
}
.alert {
  width: 300px;
  text-align: center;
  margin: auto;
}
.content {
  max-width: 30%;
  margin: auto;
  margin-top: 5%;
}
.title {
  text-align: center;
}
.actionbutton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 555px) {
  #homeNav {
    display: none;
  }
  .content {
    max-width: 40%;
  }
  .btn-outline-success {
    width: 100%;
    height: 120%;
    font-size: 120%;
  }
}
